:root{
--backgroundColour:#444141 ;
--hoverColour:#5f5c5c ;
--fontColour:#f7f6c5;
background-color: var(--backgroundColour);
color: var(--fontColour);
font-size: 48px;
}
::placeholder{
    color:#b3b1b1;
    opacity: 1;
}
label{
    text-shadow:3px 3px 5px black;
}
body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  width: 100%;
}

.gradientBox{
    /* display: flex; */
    align-items: center;
    width: 97%;
    margin: auto;
    position:relative;
    background:linear-gradient(to bottom,#fc4d47,#74df4a,#3487f5,#bd0af3) 0 100%;
    padding: 5px;
    border-radius: 16px;
}

.content{
    background: var(--backgroundColour);
    color: var(--fontColour);
    padding: 5px;
    border-radius: 16px;
    text-align: center;
    
}
button{
    color: var(--fontColour);
    background-color: var(--backgroundColour);
    border-radius: 16px;
    border-style: none;
    width: 35%;
    height: 40%;
    font-size: .5em;
    font-family: inherit;
}
input{
    background-color: var(--hoverColour);
    border-style: none;
    border-radius: 5px;
    padding: 3px;
    max-width: 200px;
    color: var(--fontColour);
}
.manyButtons.content{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap:5px ;
    width: max-content;
}
.listButton{
    padding:10px;
    text-align: center;
    width: 100%;
    &:hover{
        background-color: var(--hoverColour);
        box-shadow: 2px 2px 10px var(--fontColour);
    }
}
